<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/index.html" />
            </rewriteMaps>
            <rules>
				<rule name="Rewrite rule1 for /index.html">
                    <match url="(.js)|(.css)|(.tpl.html)|(.gif)|(.png)|(.ico)" negate="true" />
                    <conditions>
                    </conditions>
                    <action type="Rewrite" url="index.html" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>