html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
.clear {
  clear: both;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
* a {
  position: relative;
}
a {
  outline: none;
}
a img {
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
q:before,
q:after {
  content: '';
}
.empty {
  height: 360px;
  width: 100%;
  clear: both;
}
#simple-layout,
#singleton-region,
#common-layout {
  min-width: 100%;
  min-height: 100%;
}
#common-layout {
  background-color: #fff;
}
#common-layout .page-width {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#common-layout #header {
  padding-top: 19px;
}
#common-layout #vk_auth {
  display: none;
}
#start-region-wrap {
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: 'PT Sans Narrow';
  font-weight: normal;
  color: #87867c;
}
#start-region-wrap .presentation {
  overflow: hidden;
}
#start-region-wrap .presentation-in {
  position: relative;
}
#start-region-wrap .presentation-in:before {
  content: '';
  position: absolute;
  top: 23px;
  left: 384px;
  width: 90px;
  height: 80px;
  background: url("/i/magic-arrow.png") no-repeat;
}
#start-region-wrap .presentation-title-wrap {
  overflow: hidden;
  margin: 3px 0 21px 0;
}
#start-region-wrap .presentation-title {
  display: block;
  width: 396px;
  font-size: 23pt;
  margin-top: 20px;
  font-weight: normal;
}
#start-region-wrap .presentation-title-left {
  float: left;
}
#start-region-wrap .presentation-title-left:after {
  content: "...";
}
#start-region-wrap .presentation-title-right {
  float: right;
}
#start-region-wrap .presentation-title-right:before {
  content: "...";
}
#start-region-wrap .presentation-left {
  float: left;
}
#start-region-wrap .presentation-right {
  float: right;
  margin-right: 40px;
}
#start-region-wrap .item-option {
  position: relative;
  width: 300px;
  padding-left: 57px;
  font-size: 13pt;
  margin-top: 20px;
  margin-bottom: 26px;
}
#start-region-wrap .item-option:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 15px;
  width: 26px;
  height: 26px;
  background-image: url('/i/sprite.png');
}
#start-region-wrap .positive-option:before {
  background-position: -27px 0;
}
#start-region-wrap .icn-icn {
  position: relative;
  top: 5px;
  left: -60px;
}
.content-item {
  color: #87867c;
  font-size: 13pt;
}
.content-item h2 {
  font-weight: normal;
  font-size: 23pt;
  margin-top: 38px;
  margin-bottom: 15px;
}
.content-item .content-subitem {
  width: 700px;
  margin-left: 20px;
}
.content-item .paragraph {
  margin: 13px 0 13px 2px;
}
.content-item .discussion-list {
  margin-top: 6px;
  margin-bottom: 6px;
  line-height: 19pt;
}
#talk-path-form-duplicate .talk-path {
  font-family: 'PT Sans Narrow';
  font-style: italic;
  font-size: 10pt;
  margin-top: 7px;
  width: 330px;
  padding: 1px 6px 3px 6px;
  border: 1px dotted #ccc;
}
.not-auth-message {
  display: none;
}
.talk-area {
  padding-bottom: 100px;
}
.comment-i {
  position: relative;
  padding-top: 20px;
  min-width: 300px;
}
.comment-i a.img-wrap {
  display: inline-block;
}
.comment-i .photo-attachments,
.comment-i .doc-attachments,
.comment-i .video-attachments {
  margin-right: -8px;
}
.comment-i .photo-attachments .img-wrap,
.comment-i .doc-attachments .doc-wrap,
.comment-i .video-attachments .video-wrap {
  margin-right: 8px;
}
.comment-i .comment-area {
  margin-left: 40px;
  margin-top: -38px;
}
.comment-i .img-in {
  width: 30px;
}
.comment-i .user-name {
  font-weight: bold;
  font-family: Arial;
}
.comment-i .post-time {
  font-size: 8pt;
  opacity: 0.3;
  margin-left: 5px;
}
.comment-i .reply-comment {
  font-size: 8pt;
}
.comment-i .answers {
  margin-left: 15px;
  padding-left: 17px;
  border-left: 1px dotted rgba(0, 0, 0, 0.1);
}
.comment-i .comment-body,
.comment-i .attachments {
  overflow: hidden;
}
.comment-i .emoji {
  vertical-align: top;
  margin: 1px 0px;
}
.comment-i .open-comments {
  display: none;
  float: left;
  margin-top: 2px;
  margin-right: 10px;
  padding: 2px 7px 3px 7px;
  font-size: 8pt;
  background: #dee5eb;
  color: #6A7989;
  border-radius: 2px;
}
.comment-i.short-version .comment-body {
  max-height: 18px;
}
.comment-i.short-version .attachments {
  display: none;
}
.comment-i.short-version > .comment-area > .open-comments {
  display: inline-block;
}
.comment-i.short-version:before {
  content: '';
  position: absolute;
  left: 0;
  top: 35px;
  height: 18px;
  width: 100%;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 70%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}
.comment-i.short-version.short-version-just-attachments .comment-body {
  display: none;
  max-height: 18px;
}
.comment-i.short-version.short-version-just-attachments .attachments {
  display: block;
  max-height: 18px;
}
.comment-post {
  font-size: 8pt;
  display: inline-block;
  margin-top: 7px;
}
.likes {
  display: inline-block;
  margin-left: 6px;
  font-size: 8pt;
  opacity: 0.3;
}
.likes:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/i/like.png?1) 0 0 no-repeat;
  position: relative;
  top: 4px;
  margin-right: 2px;
}
.attachments img,
.attachments iframe {
  margin-top: 7px;
}
.attachments .doc-wrap,
.attachments .video-wrap {
  display: inline-block;
}
.attachments .doc-wrap {
  position: relative;
}
.attachments .doc-wrap.preview:after {
  content: 'gif';
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 8pt;
  padding: 3px 0 4px 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
.attachments .video-wrap {
  position: relative;
}
.attachments .video-wrap.preview:after {
  content: ' ' attr(data-content);
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 8pt;
  padding: 3px 0 4px 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
.attachments .video-wrap.preview:before {
  content: '►';
  position: absolute;
  top: 84px;
  left: 128px;
  font-size: 30pt;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 200px;
  padding: 32px 9px 35px 17px;
  line-height: 0;
}
.attachments .link-wrap .link-title:before,
.attachments .page-wrap .page-title:before,
.attachments .audio-wrap:before {
  content: attr(data-content);
  display: inline-block;
  margin-right: 6px;
  color: #777;
  font-weight: normal;
}
.attachments .link-wrap .link-title {
  margin-bottom: 3px;
}
.attachments .link-wrap .link-title:after {
  content: attr(data-link);
  display: block;
  font-size: 8pt;
  color: #bbb;
  width: 200px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-weight: normal;
  margin-top: 3px;
  white-space: nowrap;
}
.attachments h2 {
  font-size: 10pt;
}
.attachments .audio-wrap {
  display: block;
}
.answer-area {
  position: fixed;
  bottom: 0;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #DEE5EB;
  z-index: 1;
}
.answer-area.active .action-panel {
  display: block;
}
.answer-area.active .answer-text {
  height: 50px;
}
.answer-area .action-panel {
  display: none;
}
.answer-area .answer-area-in {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.answer-area .answer-text {
  display: block;
  width: 500px;
  height: 20px;
  padding: 3px 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}
.answer-area .reply-subject .val,
.answer-area .reply-subject .cancel-reply-subject {
  margin-left: 5px;
}
.answer-area .send {
  margin-left: 0;
  margin-top: 10px;
  border-width: 0;
  cursor: pointer;
  background: #aaa;
  color: white;
  padding: 4px 15px 5px 15px;
}
.not-open-answers {
  display: none;
}
.not-open-answers.active {
  display: inline-block;
  padding: 4px 75px 5px 75px;
  margin-top: 15px;
  margin-left: -32px;
  background-color: #dee5eb;
  color: #6A7989;
  font-size: 9pt;
}
.presentation {
  background-color: #f4f3da;
}
.block-divider {
  text-align: center;
  margin-top: 15px;
}
.block-divider:before {
  content: '~';
  display: inline-block;
  font-family: times new roman;
  font-weight: bold;
  font-size: 29px;
  line-height: 10px;
  opacity: 0.3;
}
html,
body,
#base-layout-wrap {
  margin: 0;
  padding: 0;
  height: 100%;
}
#base-layout-wrap {
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}
a {
  text-decoration: none;
  color: #3a609b;
}
.logo {
  position: relative;
  margin-top: 0;
  width: 93px;
  height: 15px;
  color: #fff;
}
.logo .logo-in {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("/i/l.png") 0 0 no-repeat;
}
#talk-path-form {
  position: relative;
}
#talk-path-form .talk-path {
  position: absolute;
  top: -49px;
  left: 124px;
  border: 1px dotted #ccc;
  padding: 3px 9px 4px 9px;
  font-size: 8pt;
  width: 260px;
}
#talk-path-form .talk-path::-webkit-input-placeholder {
  font-style: italic;
  color: #ccc;
}
#talk-path-form .talk-path:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  color: #ccc;
}
#talk-path-form .talk-path::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  color: #ccc;
}
#talk-path-form .talk-path:-ms-input-placeholder {
  font-style: italic;
  color: #ccc;
}
