<div class="post-text"><%= text() %></div>

<div class="attachments">
    <div class="photo-attachments attachments-i"></div>
    <div class="doc-attachments attachments-i"></div>
    <div class="page-attachments attachments-i"></div>
    <div class="video-attachments attachments-i"></div>
    <div class="link-attachments attachments-i"></div>
    <div class="audio-attachments attachments-i"></div>
</div>

<a class="comment-post" href="javascript:;">Комментировать</a> <span class="likes" title="Количество лайков в ВК. Ставить лайки из талкинатора, к сожалению нельзя."></span>