<form class="page-width" id="talk-path-form">
    <input class="talk-path" placeholder="Вставте ссылку на пост"/>
</form>


<div class="presentation">
    <div class="presentation-in page-width">
        <h2 class="presentation-title-wrap">
            <span class="presentation-title presentation-title-left">Превращаем сухие и безжизнен-<br/>ные коментарии во вконтакте</span>
            <span class="presentation-title presentation-title-right">в читабельную дискуссию <br/>«в лесенку»</span>
        </h2>
        <div class="presentation-left">
            <img src="/i/vk-comments.jpg">

            <div class="item-option negative-option">
                Если комментариев больше 10, становится трудно отследить кто кому ответил. Интерес к комментариям пропадает.
            </div>
        </div>
        <div class="presentation-right">
            <img src="/i/talkinator-comments.jpg">

            <div class="item-option positive-option">
                Всегда понятно кто кому ответил. Легко найти кто в дискуссии «не прав». Энтузиазм резко возрастает.
            </div>
        </div>
    </div>
</div>

<div class="page-width content-item">
    <h2>Самый простой способ посмотреть на талкинатор в действии:</h2>
    <div class="content-subitem">
        <div class="paragraph">
            Можно перейти к одной из выбранных нами дискуссий:
            <ul class="discussion-list">
                <li class="discussion-list-i">
                    &mdash; <a class="discussion-list-i-link" href="/wall-29534144_1556591">Лентач: «Электронные продукты, которые покинули нас навсегда»</a>
                </li>
                <li class="discussion-list-i">
                    &mdash; <a class="" href="/wall-20629724_734943">Хабр: «Больше кнопок богу кнопок»</a>
                </li>
                <li class="discussion-list-i">
                    &mdash; <a class="" href="/wall-74404187_60283">Образовач: «Лекторий в питере»</a>
                </li>
            </ul>

            <form id="talk-path-form-duplicate">
                Или посмотреть любую другую дискуссию из ВК. Для этого нужно вставить ссылку,<br/>
                которая ведет на нужный пост в ВК в поле снизу:<br/><input class="talk-path" placeholder="Вставте ссылку на пост"/>
            </form>
        </div>
    </div>

    <h2>Самый удобный способ работы с талкинатором:</h2>
    <div class="content-subitem">
        <div class="paragraph">

            1. <a class="" href="https://chrome.google.com/webstore/category/apps">Установите приложение для своего браузера Google Chrome</a>
            (жаль если у вас его нет, но скоро появятся приложения и для других браузеров).

        </div>
        <div class="paragraph">

            2. Пользуйтесь! Теперь около каждого поста в ВК будет появляться иконка талкинатора,
            нажав на которую будет открываться область с дискуссией, откуда вы сможете в этой дискуссии учавствовать.
            <img class="icn-icn" src="/i/icn-icn.png" />

        </div>
    </div>
</div>