<input id="talk-path" placeholder="Вставте ссылку на пост"/>

<div class="presentation">
    <div class="presentation-in page-width">
        <h2>
            <span class="presentation-title-left">Превращаем сухие и безжизненые коментарии во вконтакте</span>
            <span class="presentation-title-right">в читабельную дискуссию «в лесенку»</span>
        </h2>
        <div class="presentation-left">
            <img src="/i/vk-comments.jpg">
        </div>
        <div class="presentation-right">
            <img src="/i/talkinator-comments.jpg">
        </div>
    </div>
</div>