<div class="page-width">
    <div class="not-auth-message">
        Чтобы увидеть дискуссию, нужно подтвердить свою учетную запись во вконтакте для этого сайта. Всего пара кликов :)
    </div>

    <section id="post-area-wrap"></section>

    <div class="block-divider" title="Закорючка, разделяющая пост и комментарии к нему"></div>

    <div class="talk-area"></div>

    <section class="answer-area">
        <div class="answer-area-in">
            <textarea class="answer-text" placeholder="Комментировать"></textarea>
            <div class="action-panel">
                <button class="send">Отправить</button>
                <span class="reply-subject">
                    <span class="val" data-subject-cid="" data-subject-uid=""></span>
                    <a class="cancel-reply-subject" href="javascript:;">Отмена</a>
                </span>
            </div>
        </div>
    </section>

    <div id="receiver" data-message='{}'></div>
</div>