<div class="not-auth-message">
    Чтобы увидеть дискуссию, нужно подтвердить свою учетную запись во вконтакте для этого сайта. Всего пара кликов :)
</div>

<section class="post-area">
    <div class="post-area"></div>
    <div class="attachments">
        <div class="photo-attachments attachments-i"></div>
        <div class="doc-attachments attachments-i"></div>
        <div class="page-attachments attachments-i"></div>
        <div class="video-attachments attachments-i"></div>
        <div class="link-attachments attachments-i"></div>
        <div class="audio-attachments attachments-i"></div>
    </div>

    <a class="comment-post" href="javascript:;">Комментировать</a> <span class="likes" title="Количество лайков в ВК. Ставить лайки из талкинатора, к сожалению нельзя."></span>

    <div class="talk-area"></div>
</section>

<section class="answer-area">
    <div class="answer-area-in">
        <textarea class="answer-text" placeholder="Комментировать"></textarea>
        <div class="action-panel">
            <button class="send">Отправить</button>
            <span class="reply-subject">
                <span class="val" data-subject-cid="" data-subject-uid=""></span>
                <a class="cancel-reply-subject" href="javascript:;">Отмена</a>
            </span>
        </div>
    </div>
</section>

