#simple-layout, #singleton-region, #common-layout{
	min-width: 100%;
	min-height: 100%;
}


#common-layout {
	background-color: #fff;
    .page-width {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }


    #header {
		padding-top: 1em;
    }

	#vk_auth{
		display: none;
	}

    #footer{

    }

}